
body{
    background-color: #FFC3A1;
    font-family: "calibri"
}

/**************ENCABEZADO*************/
.titulo{
    text-align: center;
    margin-top: 50px;
}

hr{
    color: white;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

.menu{
    
    margin: 0 auto;
    background-color: aliceblue;
}

header{
    /*background: url(/trabajo\ integrador/imagenes/header.jpeg) no-repeat;
    opacity: 0.5;
    background-size: cover;*/
    background-color: #F0997D;
    width: 100%;
    clear: both;
    content: "";
    display: table;
}

nav{
    float: left;
}

nav ul li {
    list-style: none;
    margin-left: 25px;
    float: left;
}

.botonMenu{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 3px;
    
}

nav ul li a{
    color: #A75D5D;
    
}

.paginapresentacion{
    color: #ffffff;
}

/***************PIE DE PAGINA****************/

.piedepagina{
height: 10vh;
width:auto;
position: relative;

}
footer{
    width: 100px;
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem 8%;
        background-color:#A75D5D;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}

.logo{
    height: 80px;
    margin-bottom: 1rem;

}

.social-iconos-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-wrap: nowrap;
    margin: bottom 1rem; ;
}
.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border:1px solid white;
    background-image: url();
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin:1rem;


}
.social-icon:hover{
    background-color: black;
    filter: invert(1);
}
.footer-menu-container{
    list-style-type: 10rem 1,5rem;
    color: #ffffff;
    font-size: 10px;
    



}
.menu-item{
    margin: 1rem 1,5rem;
    cursor: pointer;
    opacity: 0,6;
}




/****************FORMULARIO*********************/


#basic-form {
    width: 500px;
    height: 250px;
    background-color: #F0997D;
    border-radius: 8px;
    margin-top: 2vh;
    margin-bottom: 5vh;
    margin-left: 40%;
    margin-right: 40%;
    padding: 20px 30px;
    box-sizing: border-box;
    
}

.contacto{
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
    margin-top: 2px;
    font-size: 30px;
}
input{

width: 100%;
    margin-bottom: 3px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;

}


#name{
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    
}

#e-mail{
    text-align: center;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFC3A1;
}
.submit:hover {
    cursor: pointer;
}

/*********presentacion************/

.presentacion{
    width: 750px;
    height: 300px;
    margin-top: 5vh;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #F0997D;
    border-radius: 5px;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafopresentacion{
    margin-left: 10px;
    margin-right: 10px;
}

@media(max-width:480px) {
    form {
        width: 100%;


    }

}
